.App {
  background-color: #282b30;
  text-align: center;
}

.displayGrid {
  width: 100vw;
  height: 100vh;
  display: grid;
  column-gap: 1.23vw;
  row-gap: 1.23vh;
  grid-template-columns: repeat(9, 10vw);
  grid-template-rows: repeat(9, 10vh);
}

h1 {
  grid-column: 4 / 7;
  grid-row: 4;
  color: white;
}

span.good{
  color: green;
} 
span.bad {
  color: red;
}