@media screen and (max-width: 320px) {

}

@media screen and (max-width: 1023px) and (min-width: 321px){

}

@media screen and (min-width: 1024){
  
}

// this code feels ethically incorrect
html {
  background-color:#282b30;
}

.App {
  padding-top: 3vh;
  text-align: center;

  header, body, footer {
    background-color: #767a82;
    border-radius: 4vmin;
    box-sizing : border-box;
    border: 1vmin solid #767a82;
    margin: 0;
    margin-top: 1vh;
  }

  header{
    height: 10vh;
  }
  body {
    height: 40vh;
  }
  footer {
    height: 20vh;
  }
}

span.good{
  color: #96FF96;
} 
span.bad {
  color: #FF9696;
}