html {
    background-color: #282b30;
}
#infoPanel {
    visibility: hidden;
}
#contentContainer {
    margin-left: 5vw;
}
.App {
    display: flex;
    flex-direction: row;
    padding-top: 3vh;
    text-align: center;
}
.App header, .App body, .App footer, .App #infoPanel {
    color: #eecea4;
    background-color: #767a82;
    border-radius: 2vmin;
    box-sizing: border-box;
    border: 1vmin solid #767a82;
    margin: 0;
    margin-top: 1vh;
}
.App header {
    font-size: larger;
    height: 10vh;
    font-weight: 900;
}
.App body {
    font-size: large;
    height: 40vh;
}
.App footer {
    height: 20vh;
}
span {
    font-size: 200%;
}
span.good {
    color: #96ff96;
}
span.bad {
    color: #ff9696;
}
@media screen and (max-width: 1023px) and (min-width: 426px) {
    header, body, footer {
        width: 50vw;
   }
    #infoContainer {
        margin-left: 1vw;
   }
    #infoContainer #infoPanel {
        visibility: visible;
        width: 40vw;
        height: 83vh;
   }
}
@media screen and (min-width: 1024px) {
    header, body, footer {
        width: 30vw;
   }
    #infoContainer {
        margin-left: 1vw;
   }
    #infoContainer #infoPanel {
        visibility: visible;
        width: 60vw;
        height: 83vh;
   }
}
